---
---

@import "shared";


main {
    background: url('/img/index-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    section.title {
        padding-top: 20vh;
        padding-bottom: 20vh;
    }
}

footer {
    margin-top: 0 !important;
}
