---
---

@import "materialize";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    position: relative;
}

main {
    flex: 1 0 auto;
}

header, main, footer {
      margin-left: 300px;

      @media #{$medium-and-down} {
          margin-left: 0;
      }
}

.brand-logo {
    margin-left: 8px;
}

.userView .background {
    width: 100%;
    height: 100%;
}

.email-domain::before {
    content: '@';
}

.card ul li {
    margin-bottom: 1em;
}
