<ul class="collapsible popout">
  {% for category in include.categories %}
  <li>
    <div class="collapsible-header">
      {{ category.title }}
    </div>
    <div class="collapsible-body">
      <div class="row">
        {% for variant in category.variants %}
        <div class="col s12 m6">
          {{ variant[0] }}
          <div class="progress">
            <div class="determinate" style="width: {{ variant[1] }}%"></div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
