<ol reversed class="browser-default">
  {% for conference in include.conferences %}
  <li>
    <p>
      <i>
        {{ conference.title }}
      </i>
      <span class="right">
        {{ conference.date }}
      </span>
      <br />
      {{ conference.authors }}
      <br />
      {{ conference.presentation }}
      <br />
      <a href="{{ conference.slides }}">
        Download the slides
      </a>

      {% if conference.paper %}
      | <a href="{{ conference.paper }}">
        Download the paper
      </a>
      {% endif %}
    </p>
  </li>
  {% endfor %}
</ol>
