<div class="row">
  {% for card in include.cards %}
  <div class="col s12 {{ include.cols }}">
    <div class="card {% if include.horizontal %}horizontal{% endif %}">
      {% if card.img %}
      <div class="card-image {% if card.description %}waves-effect waves-block waves-light{% endif %}">
        <img alt="{{ card.title }}" class="{% if card.description %}activator{% endif %}" src="{{ card.img }}">
      </div>
      {% endif %}
      <div class="card-content">
        <span class="card-title {% if card.description %}activator{% endif %}">
          {{ card.title }}
          {% if card.description %}
          <i class="material-icons right">more_vert</i>
          {% endif %}
        </span>
        <p class="grey-text text-darken-1">
          {{ card.subtitle | markdownify | remove: '<p>' | remove: '</p>' }}
          {% if card.subtitle and card.date %}<br />{% endif %}
          {{ card.date }}
        </p>
      </div>
      {% if card.description %}
      <div class="card-reveal">
        <span class="card-title">
          {{ card.title }}
          <i class="material-icons right">close</i>
        </span>
        {{ card.description | markdownify }}
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
