<ul id="slide-out" class="sidenav sidenav-fixed">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="/img/user-background.jpg" alt="User background">
            </div>
            <img class="circle" src="{{ site.github.owner_gravatar_url }}" alt="Profile picture">
            <span class="name white-text">{{ site.title }}</span>
            <a {% include email.html %}>
                <span class="email">
                    {{ site.email.username }}<!--
                        obfuscate the email from bots
                    --><span>@</span><!--
                        obfuscate the email from bots
                    -->{{ site.email.domain }}
                </span>
            </a>
        </div>
    </li>

  {% assign sortedPages = site.pages | sort: 'weight' | reverse %}
  {% for menuPage in sortedPages %}
      {% if menuPage.weight %}
          <li {% if page.url == menuPage.url %}class="active"{% endif %}>
              <a href="{{ menuPage.url }}">
                  {% if menuPage.icon %}
                      <i class="material-icons">{{ menuPage.icon }}</i>
                  {% endif %}
                  {{ menuPage.title }}
              </a>
          </li>
      {% endif %}
  {% endfor %}
</ul>
