<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {{ site.title }}
        {% if page.title %} | {{ page.title }}{% endif %}
    </title>

    <link type="text/css" href="http://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet" media="screen,projection">

    {% for style in page.styles %}
        <link type="text/css" href="{{ style }}" rel="stylesheet">
    {% endfor %}
</head>

<body>

{% include header.html %}

<main>
    {{ content }}
</main>

{% include footer.html %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"
        integrity="sha256-YUCh5+Y7KLYFkfuGkmKTo2Bsm2+RHjbG7aefaPF/cBg=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/shared.js"></script>

{% for script in page.scripts %}
    <script type="text/javascript" src="{{ script }}"></script>
{% endfor %}

</body>

</html>
