---
---

main {
    background: url('/assets/img/index-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 256px;
}
