---
---

@import "theme";
@import "materialize";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

header, main, footer {
  padding-left: 300px;

  @media #{$medium-and-down} {
    padding-left: 0;
  }
}

header {
  position: relative;
}

.user-view .background img {
  width: 100%;
  height: 100%;
}

.card ul li {
  margin-bottom: 1em;
}

.two-column {
  columns: 2;
}
