<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/icon?family=Material+Icons"
        crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/css/shared.css">

    {% for style in page.styles %}
        <link type="text/css" rel="stylesheet"
            {% for attr in style %} {{ attr | first }}="{{ attr | last }}" {% endfor %}>
    {% endfor %}

    {% include favicon.html %}

    {% seo %}
</head>

<body>

{% include header.html %}

<main>
    {{ content }}
</main>

{% include footer.html %}

<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light"
        {% include email.html %}>
        <i class="material-icons">message</i>
    </a>
</div>

<script
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/js/materialize.min.js"
    integrity="sha384-80/32HnG+bn7irUZ9aPuosSbzNqR/f2ADi5G3pOKsCaW4BIoxzJDR7Q8HqfTK63E"
    crossorigin="anonymous"></script>
<script src="/js/shared.js"></script>

{% for script in page.scripts %}
    <script {% for attr in script %} {{ attr | first }}="{{ attr | last }}" {% endfor %}>
    </script>
{% endfor %}

</body>

</html>
