<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet" media="screen,projection">
    <link type="text/css" href="/css/shared.css" rel="stylesheet">

    {% for style in page.styles %}
        <link type="text/css" href="{{ style }}" rel="stylesheet">
    {% endfor %}

    {% include favicon.html %}

    {% seo %}
</head>

<body>

{% include header.html %}

<main>
    {{ content }}
</main>

{% include footer.html %}

<div id="message-box-container" class="fixed-action-btn">
    <a id="message-button" class="btn-floating btn-large waves-effect waves-light"
        {% include email.html %}>
        <i class="material-icons">message</i>
    </a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"
    integrity="sha256-uWtSXRErwH9kdJTIr1swfHFJn/d/WQ6s72gELOHXQGM=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/shared.js"></script>

{% for script in page.scripts %}
    <script type="text/javascript" src="{{ script }}"></script>
{% endfor %}

</body>

</html>
